html, body
{
  height: 100%;
  margin: 0;
  border-color: beige;
}

body
{
background-image: linear-gradient(to right top, #33a0f1, #2591d9, #1882c1, #0a73aa, #006494);
color: antiquewhite;
}


#login_button
{
	width: 80%;border-radius: 15px;
    border-color: black;
    border-width: 5px;
    border-style: ridge;
}

